<h4>Application Form</h4>
<form action="/job/{{job['_id']}}/apply" method="post">
  <div class="mb-2">
  <label>Full Name</label><br>
  <input type="text" required name="full_name" placeholder="Full Name">
  </div>

  <div class="mb-2">
  <label>Email</label><br>
  <input type="email" required name="email" placeholder="Email@email.com">
  </div>

  <div class="mb-2">
  <label>LinkedIn URL</label><br>
  <input type="url" name="linkedin_url" placeholder="LinkedIn URL">
  </div>

  <div class="mb-2">
  <label>Education</label><br>
  <textarea name="education"></textarea>
  </div>

  <div class="mb-2">
  <label>Work Experience</label><br>
  <textarea name="work_experience"></textarea>
  </div>


  <div class="mb-2">
  <label>Resume URL</label><br>
  <input type="url" name="resume_url" placeholder="Resume URL">
  </div>

  <div class="mb-2">
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <div class="h-captcha" data-sitekey="a6d0cc9c-c983-45b3-b1ed-d18b660b2d19"></div>
  </div>
  <input type="submit">
</form>